<div class="gtco-loader"></div>

<div id="page">
<nav class="gtco-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div id="gtco-logo"><a href="index.html">Mbonyi<em>&mdash;</em>12Stones</a></div>
      </div>
      <div class="col-xs-10 text-right menu-1 main-nav">
        <ul>
          <li class="active"><a href="#" data-nav-section="home">Home</a></li>
          <li><a href="#" data-nav-section="about">About</a></li>
          <li><a href="#" data-nav-section="practice-areas">Mission &amp; Vision</a></li>
          <li><a href="#" data-nav-section="our-team">Our Team</a></li>
          <li class="btn-cta"><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
          <!-- For external page link -->
          <!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
        </ul>
      </div>
    </div>
    
  </div>
</nav>

<section id="gtco-hero" class="gtco-cover" style="background-image: url(assets/images/img_bg_4.jpg);"  data-section="home"  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box" data-animate-effect="fadeIn">Union in Faith</h1>
            <!-- <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i></a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>About us</h1>
        <p class="sub">As part of the drive to spread the gospel, to raise worshippers and reach encourage Christians in their walk with Christ,  Israel Eric Mbonyicyambu  commonly known as Mbonyi was inspired by God to establish the 12 Stones Ministry. A gospel music ministry in Rwanda</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">About us</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img src="assets/images/img_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">What we do</h2>
        <p>It's not about fame, fortune or even playing simply out of the love of the music ... it's a mission and a ministry. It's the Great Commission, put to a tune and sharing God's glory with those who have never seen it, those who just need to be reminded of it or those who are searching for it.</p>
        <p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
      </div>
    </div>
  </div>
</section>

<section id="gtco-practice-areas" data-section="practice-areas">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Vision &amp; Mission</h1>
        <p class="sub">Our first responsibility is to reach the area where God placed us. We need to get the Gospel to EVERYONE within reach (Mark 16:15). Reaching the lost is every Christian’s business. But as of today it remains unfinished.</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Vision<span>Mission</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
          </div>
          <div class="gtco-copy">
            <h3>Experiencing God</h3>
            <p>Experiencing God is not just our commitment to know about God, but to know him intimately, encounter him through worship, prayer, salvation and the present manifestation of the Holy Spirit in the lives of all nations and generations.</p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
          </div>
          <div class="gtco-copy">
            <h3>Live a Godly Lifestyle</h3>
            <p>Our love for God should be demonstrated in our lifestyle. This is through the fruit of the Spirit love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, and self-control, and to forsake all sin by saying “NO” to ungodliness through the amazing grace given to us.</p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
          </div>
          <div class="gtco-copy">
            <h3>Extend the Kingdom</h3>
            <p>We are committed to spreading the gospel of the Kingdom by extending the invitation to all mankind to come and experience God’s forgiveness and mercy through Jesus Christ and the power of the Holy Spirit.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
          </div>
          <div class="gtco-copy">
            <h3>Excellence</h3>
            <p>We believe that a God as great as ours deserves no less than the best we have to give. Through our music, we want to do all that we can for His glory. Therefore, in all we do, we are always going to try to make it better, not for fame or pride, but for the joy of hearing His “Well Done good and faithful servant!”
              “And whatever you do, in word or in deed, do it all in the name of the Lord Jesus” Colossians 3:17
              How excellent is His name. Psalm 8</p>
          </div>
        </div>

        <!-- <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
          </div>
          <div class="gtco-copy">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</section>

<section id="gtco-our-team" data-section="our-team">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Our Team</h1>
        <p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p>
      </div>
    </div>
    <div class="row team-item gtco-team-reverse">
      <div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
        <div class="img-shadow">
          <img src="assets/images/img_team_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        </div>
      </div>
      <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
        <h2>Jeff Finley</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
        <p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>
      </div>
    </div>

    <div class="row team-item gtco-team">
      <div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img src="assets/images/img_team_2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2>Craig Campbell</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
        <p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>
      </div>
    </div>

  </div>
</section>

<section id="gtco-contact" data-section="contact">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Become a Partner</h1>
        <p class="sub">Share the saving grace of the Lord Jesus Christ with all who do not know Him…before it is too late. Tell them how, through the work of Jesus in saving and sanctifying them, they can be a memorial stone of remembrance of God’s goodness and saving grace. If you wish to partner with us in spreading the gospel, do not hesitate to contact us</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-6 animate-box">
        <form action="#">
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" placeholder="Name" id="name">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="text" class="form-control" placeholder="Email" id="email">
          </div>
          <div class="form-group">
            <label for="message" class="sr-only">Message</label>
            <textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="col-md-4 col-md-pull-6 animate-box">
        <div class="gtco-contact-info">
          <ul>
            <li class="address">198 West 21th Street, Suite 721 New York NY 10016</li>
            <li class="phone"><a href="tel://1235235598">+ 1235 2355 98</a></li>
            <li class="email"><a href="mailto:info@yoursite.com">info@example.com</a></li>
            <li class="url"><a href="#">http://example.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="gtco-footer" role="contentinfo">
  <div class="container">
    
    <div class="row copyright">
      <div class="col-md-12">
        <p class="pull-left">
          <small class="block">&copy; 2017 twelvestones.</small> </p>
        <div class="pull-right">
          <ul class="gtco-social-icons pull-right">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>